---
import Header from "../../header/Header.astro";
---

<style>
.h-hero {
  height: calc(100% - 68px);
}
</style>

<div class="w-full h-2/3 tablet:h-screen bg-hero-mobile tablet:bg-hero-desktop bg-cover bg-center">
  <Header />

  <div class="w-full h-hero flex flex-col items-center py-16 tablet:py-8 laptop:p-16 tv:py-48">
    <section class="h-fit w-fit flex flex-col gap-16 items-center">
      <h1 class="text-center text-5xl tv:text-7xl font-fraunces-700 uppercase text-white">we are creatives</h1>
      <img src="/icon/icon-arrow-down.svg" alt="Arrow down icon" class="tv:w-[72px] tv:h-[228px]" width="36" height="114">
    </section>
  </div>
</div>