@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Barlow-SemiBold";
  src: url("../assets/barlow/Barlow-SemiBold.ttf");
}

@font-face {
  font-family: "Barlow-Bold";
  src: url("../assets/barlow/Barlow-Bold.ttf");
}

@font-face {
  font-family: "Fraunces-Bold";
  src: url("../assets/fraunces/Fraunces_9pt-Bold.ttf");
}

@font-face {
  font-family: "Fraunces-Black";
  src: url("../assets/fraunces/Fraunces_9pt-Black.ttf");
}

@layer base {
  :root {
    --soft-red: 7 99% 70%;
    --yellow: 51 100% 49%;

    /* graphic design text */
    --dark-desaturated-cyan: 167 40% 24%;

    /* photography text */
    --dark-blue: 198 62% 26%;

    /* footer */
    --dark-moderate-cyan: 168 34% 41%;

    --very-dark-desaturated-blue: 212 27% 19%;
    --very-dark-grayish-blue: 213 9% 39%;
    --dark-grayish-blue: 232 10% 55%;
    --grayish-blue: 210 4% 67%;
    --white: 0 0% 100%;

    /* Font family */
    --barlow-600: "Barlow-SemiBold", sans-serif;
    --barlow-700: "Barlow-Bold", sans-serif;
    --fraunces-700: "Fraunces-Bold", sans-serif;
    --fraunces-900: "Fraunces-Black", sans-serif;
  }
}
