@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Barlow-SemiBold";
  src: url("../assets/barlow/Barlow-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Fraunces-Bold";
  src: url("../assets/fraunces/Fraunces_9pt-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Fraunces-Black";
  src: url("../assets/fraunces/Fraunces_9pt-Black.ttf") format("ttf");
}

@layer base {
  :root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);

    /* graphic design text */
    --dark-desaturated-cyan: hsl(167, 40%, 24%);

    /* photography text */
    --dark-blue: hsl(198, 62%, 26%);

    /* footer */
    --dark-moderate-cyan: hsl(168, 34%, 41%);

    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    /* Font family */
    --barlow-600: "Barlow-SemiBold", sans-serif;
    --fraunces-700: "Fraunces-Bold", sans-serif;
    --fraunces-900: "Fraunces-Black", sans-serif;
  }
}
